<!DOCTYPE html>
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Access-Control-Allow-Origin" conent="*">
	<meta name="Keywords" Content="银联 ,UnionPay,中国银联,小微商户">
    <title>小微商户管理平台</title>
	<link rel="icon" href="${rc.contextPath}/resources/favicon.ico" mce_href="${rc.contextPath}/resources/favicon.ico" type="image/x-icon">  
	<link rel="shortcut icon" href="${rc.contextPath}/resources/favicon.ico" mce_href="${rc.contextPath}/resources/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="${rc.contextPath}/resources/css/style.css">
	<script type="text/javascript" src="${rc.contextPath}/resources/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="${rc.contextPath}/resources/js/placeholders.min.js"></script>
	<script type="text/javascript">
		var webRoot = '${rc.contextPath}';
	</script>
	</head>

	<body>
		$screen_content
	</body>
</html>